
* {
    margin:             0;
    padding:            0;
    box-sizing:         border-box;
    }

#wrapper {
    width:              100vw;
    height:             100vh;
    text-align:         center;
    background-image:   url(./images/background.jpg);
    background-repeat:  no-repeat;
    background-size:    150% 150%;
    background-position: 50% 25%;
    }

    #playground, #menu {
        position:           relative;
        top:                50%;
        transform:          translateY(-50%);
        display:            inline-block;
        border:             2px solid #000;
        }

        #playground {
            display:            none;
            }

            img {
                height:             100%;
                background-image:   url(./images/tile.jpg);
                background-repeat:  no-repeat;
                background-size:    100% 100%;
                border:             2px solid #000;
                }

            .small {
                height:             120px;
                }

                .small img {
                    width:              120px;
                    }


            .medium {
                height:             80px;
                }

                .medium img {
                    width:              80px;
                    }


            .large {
                height:             60px;
                }

                .large img {
                    width:              60px;
                    }



                .toggle {
                    display:            none;
                    }
        
        #menu {
            background-image:   url(./images/tile.jpg);
            background-repeat:  no-repeat;
            background-size:    100% 100%;
            display:            inline-block;
            border:             5px solid #000;
            color:              #fff;
            box-shadow:         1vw 1vw 2vw #000, -1vw -1vw 2vw #000;
            text-shadow:        3px 3px #000;
            }

            h1 {
                margin:             20px;
                }

            button {
                width:              200px; 
                height:             80px;
                margin:             20px;
                background-image:   url(./images/tile.jpg);
                background-repeat:  no-repeat;
                background-size:    100% 100%;
                display:            block;
                font-size:          20px;
                font-style:         italic;
                font-weight:        bold;
                color:              #fff;
                border:             4px solid #000;
                }

                .btn:hover {
                    color:              rgb(20, 213, 43);
                    background-image:   none;
                    background-color:   rgb(75, 70, 70);
                    }

            #cup {
                color:              red;
                }

            #reset {
                position:           absolute;
                bottom:             0;
                right:              0;
                }
